<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
    <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    </head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>

<body >
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as buyList">
     <h2>To Buy:</h2>
     <ol>
      <li ng-repeat="item in buyList.items">
        Buy {{ item.quantity }} {{ item.name }}
        <button ng-click="buyList.moveToBought(item,$index);">Bought item</button>
      </li>
    </ol>
    {{valor}}
     <div class="emptyMessage" ng-if="buyList.errorMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as boughtList" >
     <h2>Already Bought:</h2>
     <ol>
      <li ng-repeat="item in boughtList.items">
        Bought  {{ item.quantity }} {{ item.name }}
      
      </li>
    </ol>
    
     <div class="emptyMessage" >Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
